@import url(http://fonts.googleapis.com/css?family=Cabin:400);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
body #filters {
  position: fixed;
  width: 20%;
  left: 0%;
  font-size: smaller;
  color: #FFF0B8;
  background-color: #7887AB;
  border-radius: 5px;
  margin: 1px;
  padding: 1px;
}

.user {
  background-color: #9BF4EB;
  font-family: 'Open Sans', sans-serif;
  padding-left: 1rem;
  padding-top: 1rem;
}

.welcome h1{
    top: 20%;
	color: #5F8AFF;
	font-size: 450%;
	font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.welcome h3{
	color: #5F8AFF;
}

.webdesigntuts-workshop {
	background-image: url("http://www.publicdomainpictures.net/pictures/60000/velka/quatrefoil-pattern-background-blue.jpg");
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.webdesigntuts-workshop:before {
	background: #444;
	background: linear-gradient(left, #FFFFFF, #444, #FFFFFF);
	top: 192px;
}

.webdesigntuts-workshop:after {
	background: #000;
	background: linear-gradient(left, #FFFFFF, #000, #FFFFFF);	
	top: 191px;
}

.webdesigntuts-workshop form {
	background: #FFFFFF;
	background-color: #0FA2A2;
	border: 1px solid #5F8AFF;;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #FFFFFF;
	display: inline-block;
	font-size: 0px;
	margin: 150px auto 0;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {
	background: #222;	
	background-color: #FFFFFF;	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	width: 400px;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background:#5F8AFF;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #FFFFFF;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #FFFFFF;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #FFFFFF;
}

.webdesigntuts-workshop button {
	background: #FFFFFF;
	background: linear-gradient(#75DEDE, #C6EEEE);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	color: #fff;
	display: block;
	float: left;

	font-size: 13px;
	font-weight: 400;
	height: 38px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #FFFFFF;
	background: linear-gradient(#5F8AFF, #9BE1E1);
	color: #87EF7C;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #A2D8FC;
	background: linear-gradient(#FFFFFF, #FFFFFF);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: white;
		box-shadow: 0 0 5px rgba(0,0,1,.2), inset 0 0 5px rgba(0,0,200,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: white;
		box-shadow: 0 0 20px rgba(0,0,150,.6), inset 0 0 10px rgba(0,0,200,.4), 0 2px 0 #000;
    }
}

/* index page */

.header {
  color: #356DD4;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  background-image: url("http://www.publicdomainpictures.net/pictures/60000/velka/quatrefoil-pattern-background-blue.jpg");
  font-family: 'Open Sans', sans-serif;
  color: #555f77;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family:'Open Sans', sans-serif;
  font-size: 1rem;
  color: #555f77;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.recipe-list {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.recipe {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.image {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.image .avatar {
  height: 8.25rem;
  width: 8.25rem;
  border-radius: 50%;
  background-size: contain;
  margin-right: 20px;
  margin-top: 20px;
}

.recipe-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  font-family: 'Open Sans', sans-serif;
}
.recipe-block textarea {
  width: 100%;
  resize: none;
}

.recipename {
  font-family: 'Open Sans', sans-serif;
}

.recipe-description {
  margin-bottom: 1.25rem;
  font-family: 'Alegreya Sans', sans-serif;
}

.other-stuff {
  color: #acb4c2;
  font-size: 0.875rem;
}

.meal-time{
  float: left;
}
.meal-time li{
  display: inline;
  margin: -2px;
  cursor: pointer;
}

.meal-time li.meal{
  margin-left: 0;
  border-right: 1px #FFFFFF;
}

.meal-time li.time{
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.recipe-actions {
  float: right;
}
.recipe-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}

.recipe-actions li.review {
  padding-right: 0.125rem;
  padding-top: 1rem;
}
.recipe-actions li:hover {
  color: #0095ff;
}

.navigation .sorting .options {
  padding-right: 1rem;
  color:#0564A1;
  
}

/* details page */

.recipename{
  color: #5F8AFF;
  font-weight: bold;
}
#display .image {
  padding-left: 1rem;
}   

#display .description {
  padding-left: 1rem;
  font-family: 'Open Sans', sans-serif;

}  

#display .ingredients {
  padding-left: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.instructions {
  padding-left: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.review {
  padding-left: 2rem;
}

.reviewtemplate{
  font-family: 'Open Sans', sans-serif;
  padding-left: 2rem;
}

.restaurants{
  font-family: 'Open Sans', sans-serif;
}
.restaurants .title {
  font-family: 'Open Sans', sans-serif;
  color: #356DD4;
  font-weight: bold;
}

.restaurants .caption {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: medium;
}

