{% extends "base.html" %}
{% load staticfiles %}

<!DOCTYPE html>
    {% block main %}
    <section class="details">
        <p><h2 class="recipename">{{ recipe.name }}</h2></p>
       <table id="display">
       <tr>
       <th class="image">
        {% if recipe.image.url.width > recipe.image.url.height %}
            <img src="{{ recipe.image.url }}" width=300>
        {% else %}
            <img src="{{ recipe.image.url }}" height=300>
        {% endif %}
        </th>
        <th><i><p class="description">{{ recipe.description }}</i>
        <br>
        <div class="ingredients">
        <center><p><b>Ingredients</b></center>
        {% for ingredient in recipe.get_ingredients %}
            <center><li class="ingredient">{{ ingredient }}</li></center>
        {% endfor %}
        </th>
        </table>
        </div>
        <br>
        <div class="instructions">
        <b><p>Instructions</b>
        <ol>
        {% for instruction in recipe.recipeinstruction_set.all %}
            <li>{{ instruction.get_instruction }}</li>
        {% endfor %}
        </ol>
        </div>
        <br>
        <div class="review"><b><p>Reviews</b>
            {% if recipe.review_set %}
                {% for review in recipe.review_set.all %}
                    <li class="new-review">{{ review }}</li>
                {% endfor %}
            {% endif %}
        <p><a href="{% url 'review' recipe.id %}">Write a review</a>
        <p>Back to <a href="{% url 'index' %}">search results</a></div>
    </section>
    {% endblock main %}
