{% extends "base.html" %}
{% block main %}

<section class="index">
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="header">
<h3>Search Results:</h3></div>
<center>
<div class="btn-group">
    <button type="button" class="btn-primary btn-lg"><a href ="{% url 'index' %}?sort=AT">Appetizers</a></button>
    <button type="button" class="btn-primary btn-lg"><a href ="{% url 'index' %}?sort=MN">Mains</a></button>
    <button type="button" class="btn-primary btn-lg"><a href ="{% url 'index' %}?sort=DS">Desserts</a></button>
    <button type="button" class="btn-primary btn-lg"><a href="{% url 'restaurants' %}">Don't feel like cooking?</a></button>
</div>
</center>
<div class="recipe-list">
	{% for recipe in recipes %}
		<div class="recipe">
			<div class="image">
				<!-- <img class="avatar" src="{{ recipe.image.url }}"> -->
				<div class="avatar" style="background-image: url('{{ recipe.image.url }}')"></div>
			</div>
			<div class="recipe-block">
				<a href="{% url 'details' recipe.id %}"><h1>{{ recipe.name }}</h1></a>
				<p class="recipe-description"> {{ recipe.description|truncatewords:100 }}</p>
					<div class="other-stuff">
					    <ul class="meal-time">
					       <li class="meal">
							{% if recipe.meal == 'MN'%}
								<div class="btn btn-primary-outline">Main</div>
							{% elif recipe.meal == 'DS' %}
								<div class="btn btn-success-outline">Dessert</div>
							{% else %}
								<div class="btn btn-info-outline" nohover>Appetizer</div>
							{% endif %}
							</li>
							<li class="time">{{ recipe.get_time_str }}</li>
					    </ul>
						
						
						<ul class="recipe-actions">
							<li class="review"><a href="{% url 'review' recipe.id %}">Review</a></li>
						</ul>
					</div>
				</div>
			</div>
    {% endfor %}
</div>
<center><p>Want to search again? Back to <a href="{% url 'main' %}?main=true">main</a></center>
{% endblock main %} 
</section>
