{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title> {% block title %} Welcome to Cripsy Duck Recipe Master {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "main.css" %}">

    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
    <div class="user">
    {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
        {% else %}
            <p>Welcome, anonymous user. To review recipes, please <a href="{% url 'login' %}?next={{request.path}}">login</a>
    {% endif %}
    </div>

  <body>
    <section id="main">
    {% block main %}
    {% endblock main %}
    </section>
  </body>
</html>
